<footer>
    <h1>Umbrella</h1>
    <div class="infoFooter">
        <div class="location">
            <h3>Location</h3>
            <p>206 Wellington St W, Toronto, ON M5J 2H5</p>
        </div>
        <div class="media">
            <h3>Social media</h3>
            <div class="media-links">
                <a href=""><img src="/img/svg/facebook-75-189796.svg" alt=""></a>
                <a href=""><img src="/img/svg/medium-2-189729.svg" alt=""></a>
                <a href=""><img src="/img/svg/youtube-82-189778.svg" alt=""></a>
                <a href=""><img src="/img/svg/twitter-53-189787.svg" alt=""></a>
                <a href=""><img src="/img/svg/instagram-63-189784.svg" alt=""></a>
            </div>
        </div>
    </div>
    <p>&#169; Andrei Batomunkuev 2020 </p>
</footer>